# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*
.venv/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
